<?xml version="1.0" ?>
<launch>
  <arg name="load_gripper" default="true" />

  <!-- <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="position_joint_trajectory_controller"/>

 -->

 <rosparam command="load" file="$(find franka_robot_controller_pi)/config/franka_controllers.yaml" />

  <node name="jointposition_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args="joint_position_controller_pi"/>
  
  <include file="$(find panda_moveit_config)/launch/move_group.launch">
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>
</launch>
